# Include any files you want to ignore (do not want to push to GitHub)
.ipynb_checkpoints
.DS_Store
.env
.idea
*.csv
**/*.csv
# virtual environments
venv/
.venv/
env/
ENV/

# Folders
.idea/
/submissions/team/pavan-kumar-reddy-kathi/__pycache__
/submissions/team/pavan-kumar-reddy-kathi/api/__pycache__
/submissions/team/pavan-kumar-reddy-kathi/catboost_info
